@import "tailwindcss";

:root {
  --font-mono: 'SF Mono', Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;


  --background-primary:#FFFFFF;
  --background-secondary: #FAFAFA;
  --background-extensions-background-blue: #DBEAFE;
  --background-extensions-background-green: #DCFCE7;
  --background-inverse-primary: #18181B;

  --border-primary: #E4E4E7;
  --border-secondary: #F4F4F5;
  --border-inverse-primary: #3F3F46;

  --content-primary: #09090B;
  --content-inverse-primary: #FFFFFF;
  --content-secondary: #71717A;
  --content-tertiary: #A1A1AA;
  --content-extensions-content-blue: #1D4ED8;
  --content-extensions-content-green: #15803D;
  --content-extensions-content-red: #B91C1C;

  --border-radius-rounded-md: .375rem; /* 6px */
  --border-radius-rounded-lg: .5rem; /* 8px */
  --border-radius-rounded-xl: .75rem; /* 12px */

  --spacing-1: .25rem; /* 4px */
  --spacing-1_5: .375rem; /* 6px */
  --spacing-2: .5rem; /* 8px */
  --spacing-4: 1rem; /* 16px */

  --spacing-6: 1.5rem; /* 24px */
  --spacing-8: 2rem; /* 32px */
}

@theme inline {
  --font-sans: var(--font-inter);
  --font-mono: var(--font-mono);
  
  --color-primary: var(--content-primary);
  --color-inverse-primary: var(--content-inverse-primary);
  --color-secondary: var(--content-secondary);
  --color-tertiary: var(--content-tertiary);
  --color-extensions-content-blue: var(--content-extensions-content-blue);
  --color-extensions-content-green: var(--content-extensions-content-green);
  --color-extensions-content-red: var(--content-extensions-content-red);

  --color-background-primary: var(--background-primary);
  --color-background-secondary: var(--background-secondary);
  --color-background-inverse-primary: var(--background-inverse-primary);
  --color-background-extensions-background-blue: var(--background-extensions-background-blue);
  --color-background-extensions-background-green: var(--background-extensions-background-green);

  --color-border-primary: var(--border-primary);
  --color-border-secondary: var(--border-secondary);
  --color-border-inverse-primary: var(--border-inverse-primary);

  --radius-rounded-md: var(--border-radius-rounded-md);
  --radius-rounded-lg: var(--border-radius-rounded-lg);
  --radius-rounded-xl: var(--border-radius-rounded-xl);

  --spacing-1: var(--spacing-1);
  --spacing-1_5: var(--spacing-1_5);
  --spacing-2: var(--spacing-2);
  --spacing-4: var(--spacing-4);
  --spacing-6: var(--spacing-6);
  --spacing-8: var(--spacing-8);
  
}

body {
  font-family: var(--font-inter);
  background-color: var(--background-secondary);
  color: var(--color-primary);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
